<h3>Add New Friend</h3>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="margin-top-1">
  <div class="form-group">
    <label>Name</label>
    <input type="text" formControlName="name" placeholder="Enter name">
  </div>
  <div class="form-group margin-top-1">
    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Enter email">
  </div>
  <div class="form-group margin-top-1">
    <label>Mobile Number</label>
    <input type="text" formControlName="mobile" placeholder="Enter mobile number">
  </div>
  
  <div class="actions margin-top-2">
    <button type="button" class="btn-secondary" (click)="onCancel()" style="margin-right: 1rem;">Cancel</button>
    <button type="submit" class="btn-primary" [disabled]="userForm.invalid">Save Friend</button>
  </div>
</form>
